doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/socket.io/socket.io.js")
    script.
      // Connect to Skynet server & port
      var socket = io.connect('http://localhost:3000');
      // var socket = io.connect('http://skynet.jit.su:80');

      // subscribe to uuid
      socket.emit('subscribe', {  
        "uuid": "0d3a53a0-2a0b-11e3-b09c-ff4de847b2cc",
        "token": "qirqglm6yb1vpldixflopnux4phtcsor"
      }, function (data) {
        console.log(data);
        $(".activity").prepend(JSON.stringify(data) + '<br />');
      });
      socket.emit('unsubscribe', {"uuid": "0d3a53a0-2a0b-11e3-b09c-ff4de847b2cc"}, function (data) {
        console.log(data);
        $(".activity").prepend(JSON.stringify(data) + '<br />');
      });

      socket.on('identify', function (data) {
        console.log(data);
        $(".activity").prepend(JSON.stringify(data) + '<br />');
      });
      socket.on('message', function (data) {
        console.log(data);
        $(".activity").prepend(JSON.stringify(data) + '<br />');
      });

  body
    block content