doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/socket.io/socket.io.js")
    script.
      // Connect to Skynet server & port
      var socket = io.connect('http://localhost:3000');

      // socket.on('subscribe', function() { socket.join("ad698900-2546-11e3-87fb-c560cb0ca47b"); })      
      // socket.join("ad698900-2546-11e3-87fb-c560cb0ca47b");
      socket.emit('subscribe', "ad698900-2546-11e3-87fb-c560cb0ca47b");

      socket.on('identify', function (data) {
        console.log(data);
        $(".activity").prepend(JSON.stringify(data) + '<br />');
      });
      socket.on('message', function (data) {
        console.log(data);
        $(".activity").prepend(JSON.stringify(data) + '<br />');
      });

  body
    block content